.expansion-container {
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.see-more-button {
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.see-more-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: red;
}