.client-step-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.client-list-container {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.client-list-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #4d6bfe;
    font-size: 1.2rem;
}

.client-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: #EEEEEE solid 1px;
}

.client-container:hover {
    background-color: lightgray;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.client-list-wrapper {

}